@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
body{
    margin: 0%;
    padding: 0%;
    height: 109vh;
    background-image: url(../images/backgroundbaru.jpg);
    background-size: cover ;
    background-position: center;
}
.main{
    width: 1170px;
    margin: auto;
}
.main ul{
    margin: 0;
    padding: 50px 0;
    list-style: none;
    text-align: right;
}
.main ul li{
    float: none;
    display: inline-block;
}
.main ul li:nth-child(1){float: left;}
.main ul li:nth-child(2){float: left;}
.main ul li:nth-child(3){float: left;}
.main ul li a{
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    transform: uppercase;
    text-decoration: none;
    color: white;
    display: block;
    font-family:fantasy console;
    padding: 5px 20px;
}
.main ul li a:hover{transition: 1s;
background-color:darkslategray;
border-radius: 10px;
color:yellow;
}
.nav-link2{
    border-radius: 50px 50px 50px 50px;
    background-color: chocolate;
}
#navbar{
    width: 100%;
    position: absolute;
}
.dropdown-menu{
    background-color: transparent;
    border: none;
}
.logo{
    width: 150px;
    height: 150px;
    position:absolute;
    left: 51%;
    top: 0%;
    transform: translateX(-50%);
}
.logo img{
    width: 100%;
}
.deskripsi-pendek {
    text-align: center;
    padding-left: 422px;
    padding-top: 160px;
}
.sort-desc {
    padding-top: 15px;
}
.row2 {
    display: flex;
    justify-content: center;
    color: azure;
    font-family: 'Flamenco', cursive;
}
label {
    font-size: 20px;
}
textarea {
    height: 50px;
}
#username, #email, #telepon, #tanggalproject {
    width: 400px;
    height: 26px;
    border: none;
    background: none;
    border-bottom: 1px solid mintcream;
    color: honeydew;
}
#fdeskripsi {
    width: 400px;
    height: 40px;
    border: none;
    background: none;
    border-bottom: 1px solid mintcream;
    color: honeydew;
}
.footer{
    margin-top: 50px;
    box-sizing: border-box;
    background-image: url(../images/background6.jpg);
    background-size: cover;
    padding: 70px 0;
}
.container3{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.btn {
    border: 1px solid transparent;
    padding: 6px 12px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; 
}
.footer-col{
   width: 25%;
   padding: 0 0px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 15px;
    padding-left: 28px;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 23px;
}
.footer-col ul li a{
    padding-top: 5px;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
    cursor: pointer;
}
.footer-col iframe{
    font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 2px 31px 24px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.text-center{
    margin-top: 10px;
    color: white;
}